.hero-container {
  height: 60vh;
}

/* The hero image */
.hero-image {
  content: '';
  background: url(/img/logo_white.png) no-repeat center center fixed;
  opacity: 0.15;
  z-index: 0;

  @apply inset-0 absolute bg-cover z-0;
}
