/* Theme colors */

.dark {
  /* For text and such */
  --color-primary: #9b9be0;
  --color-primary-hover: #7f7fb8;

  /* --color-accent: #4a306d;
  --color-accent-hover: #3d285a; */

  /* This is for icons mainly */
  --color-default: white;
  --color-default-text: white;
  --color-default-hover: #4d4dc8;
  --color-default-text-muted: #4c4c4c;

  /* For background */
  --color-background: #23272a;
  --color-background-hover: #1c1f22;
  /* #1f2424 or DISCORD'S #2c2f33 or #23272A*/

  /* For elements like the faq collapsible */
  --color-depth: #1c1f22;
  --color-depth-hover: #202326;

  /* For borders and such */
  --color-border: #393d3f;
  --color-border-hover: #4f5255;

  /* For gradients */
  --color-gradient-one: rgb(155, 155, 224);
  --color-gradient-two: rgb(0, 212, 255);
}

.bg-gradient {
  background: linear-gradient(
    130deg,
    var(--color-gradient-two) 15%,
    var(--color-gradient-one) 80%
  );
}
.bg-gradient-navbar {
  background: linear-gradient(
    160deg,
    var(--color-gradient-two) 15%,
    var(--color-gradient-one) 95%
  );
}
