/* Fonts */

@font-face {
  font-family: 'Pieces of Eight';
  src: url('/fonts/Pieces_of_Eight.ttf') format('truetype');
}

/* @font-face {
  font-family: 'Pieces of Eight Alt';
  src: url('../fonts/Pieces_of_Eight_Alt.ttf') format('truetype');
} */

.custom-font {
  font-family: 'Pieces of Eight';
}

/* Theme colors */

.dark {
  /* For text and such */
  --color-primary: #a167a5;
  --color-primary-hover: #845588;

  --color-accent: #4a306d;
  --color-accent-hover: #3d285a;

  /* This is for icons mainly */
  --color-default: white;
  --color-default-text: white;
  --color-default-hover: black;
  --color-default-text-muted: gray;

  /* For background */
  --color-background: #2c2f33;

  /* For borders and such */
  --color-border: #23272a;
  --color-border-hover: #1d2023;

  /* For gradients */
  --color-gradient-one: rgb(155, 155, 224);
  --color-gradient-two: rgb(0, 212, 255);
}

.bg-gradient {
  background: linear-gradient(
    160deg,
    var(--color-gradient-two) 15%,
    var(--color-gradient-one) 90%
  );
}

/* Common Elements */

a {
  transition: color 0.25s linear;
  @apply text-default-text;
}

a:hover {
  @apply text-default-text-hover;
}

.icon {
  @apply text-default fill-current pointer-events-none align-middle;
}

/* Navbar */

.navbar li {
  @apply px-2 my-auto;
}
